<h1>Hello There! Welcome to homework 3!</h1>

<%= form_tag todos_path do %>
  <%= submit_tag "View Todo List!" %>
<% end %>

<%= form_tag users_path do %>
  <%= submit_tag "View Users!" %>
<% end %>

<%= form_tag cats_path do %>
  <%= submit_tag "View Cats!" %>
<% end %>